
.le1{
    background-color: #0b8f6e;
    opacity: 0.2;
    height: 500px;
    width: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
}


.le{
    font-size: 1.3cm;
    font-style: normal;
    color: #0b8f6e;
    position: absolute;
    top: 10px;
    left: 150px;
}

.l11{
    font-style: normal;
    font-size: 0.5cm;
    color: rgb(19, 18, 18);
    position: absolute;
    top: 55px;
    left: 493px;
}

.l12{
    height: 55px;
    width: 180px;
    background-color: #0b8f6e;
    position: absolute;
    top: 20px;
    left: 1030px;
}

.l13{
    font-style: normal;
    font-size: 0.5cm;
    color: white;
    text-align: center;
    position: absolute;
    top: 57px;
    left: 1035px;
    text-decoration: none;
}

.li1{
    height: 725px;
    width: 50%;
    background-image:url("https://i.imgur.com/2TGwgT9.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 130px;
    left: 50%;
}

.l21{
    font-size: 1.5cm;
    color: #0b658f;
    position: absolute;
    top: 190px;
    left: 100px;
}

.l22{
    font-size: 1.5cm;
    color: #0b658f;
    position: absolute;
    top: 240px;
    left: 100px;
}

.l23{
    font-size: larger;
    color: #0b658f;
    position: absolute;
    top: 390px;
    left: 100px;
}

.l24{
    font-size: larger;
    color: #0b658f;
    position: absolute;
    top: 420px;
    left: 100px;
}

.l25{
    font-size: larger;
    color: #0b658f;
    position: absolute;
    top: 450px;
    left: 100px;
}
.l31{
    font-size: 30px;
    background-color: white;
    color: rgba(152, 77, 236, 0.952);
    position: absolute;
    top: 560px;
    left: 100px;
}

.l32{
    color:#0b658f;
    position: absolute;
    top: 550px;
    left: 140px;
    font-size: large;
}

.l33{
    font-size: 30px;
    background-color: white;
    color: rgba(152, 77, 236, 0.952);
    position: absolute;
    top: 560px;
    left: 350px;
}

.l34{
    color:#0b658f;
    position: absolute;
    top: 550px;
    left: 400px;
    font-size: large;
}

.l41{
    font-size: 40px;
    background-color: white;
    color:#0b8f6e;
    position: absolute;
    top: 670px;
    left: 120px;
}

.l42{
    font-style: italic;
    font-size: 0.6cm;
    color: #0b658f;
    position: absolute;
    top: 655px;
    left: 175px;
}

.l43{
    width: 50%;
    height: 120px;
    background-color: rgb(247, 255, 139);
    opacity: 0.25;
    position: absolute;
    top: 720px;
    left: 280px;
}

.l44{
    box-shadow: #22058b;
}

.l45{
    font-size: 30px;
    background-color: white;
    color:#0b8f6e;
    position: absolute;
    top: 750px;
    left: 335px;
}

.l46{
    color: #0b658f;
    position: absolute;
    top: 740px;
    left: 370px;
}   

.l47{
    font-size: 30px;
    background-color: white;
    color:#0b8f6e;
    position: absolute;
    top: 750px;
    left: 480px;
}

.l48{ 
    color: #0b658f;
    position: absolute;
    top: 740px;
    left: 520px;
}   

.l49{
    font-size: 30px;
    background-color: white;
    color:#0b8f6e;
    position: absolute;
    top: 750px;
    left: 620px;
}

.l40{ 
    color: #0b658f;
    position: absolute;
    top: 740px;
    left: 660px;
}   

.l401{
    color: #0b658f;
    position: absolute;
    top: 790px;
    left: 320px;
}

.l402{
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: rgba(102, 8, 209, 0.952);
    opacity: 0.7;
    top: 750px;
    left: 760px;
}

.l403{
    color:white;
    position: absolute;
    top: 783px;
    left: 769px;
    text-decoration: none;;
    font-size: large;
}


.lg1{
    color: black;
    font-size: .55cm;
    font-style: normal;
    text-decoration: none;
}

.iz1{
    width: 100%;
    height: 200px;
    opacity: 0.3;
    position: relative;
    top: 795px;    
}

.iz2{
    width: 100%;
    height: 190px;
    background-color: rgb(171, 250, 250);
    position: relative;
    top: 795px; 
}

.iz3{
    text-align: center;
    font-size: .5cm;
    color: rgb(18, 18, 192);
    position: relative;
    left: 300px;
    text-decoration: none;
}

.iz4{
    text-align: center;
    color: blue;
    font-size: large;
}

body{
    background-color: white;
}
